@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="text-body">О пансионате "Алтын-Куль"</h1>
        
    <div class="container col-12 text-left">
        <h6 class="text-body">Номерной фонд</h6>
        <div class="text-muted">
            Кирпичные 4-местные коттеджи с капитальным ремонтом с санузлом и душем. Телевизор и холодильник на коттедж,(2+2-местных номера).<br>
            
            Деревянные домики 3-4-местные, новые пластиковые окна, капитальный ремонт, хорошая мебель, телевизор и холодильник, санузел, душ. Расположены рядом с регистратурой пансионата, 2-3 местные отдельные номера с санузлом и душем, телевизор и холодильник в номере.<br>
            
            Шале 4-местные "чемоданчики (3+1-местные проходные комнаты, телевизор и холодильник), санузел (туалет и раковина с холодной водой) на шале. Душевой комплекс и сауна - рядом с шале. Расположены в чудесной парковой зоне недалеко от пляжа. Очень удобно для семейного отдыха.<br>
            
            Корпус № 3 "полулюкс" 2-местные 1-комнатные. В номерах новая мебель, хороший ремонт, новое постельное белье. В каждом номере телевизор, холодильник, душ и туалет. После капитального ремонта.<br>
            
            Корпус № 3"люкс" 2-местные 2-комнатные номера (спальня + гостиная), после капитального ремонта. В гостиной мягкая мебель, телевизор, холодильник, отдельный санузел (душ и туалет).<br>

        </div>
        <h6 class="text-body ">Питание</h6>
        <div class="text-muted">3-х разовое в столовой.</div>
        <h6 class="text-body ">Пляж</h6>
        <div class="text-muted">
            <ul>
                <li>Пляж собственный, песчаный.</li>
                <li>На пляже: водные развлечения, вышка, пирс, малый понтонный пирс, зонтики.</li>
                <li>До пляжа 150-200 м.</li>
            </ul>
        </div>
        <h6 class="text-body">Развлечения</h6>
        <div class="text-muted">
            <ul>
                <li>детская игровая комната</li>
                <li>детская площадка</li>
                <li>летний кинотеатр</li>
                <li>дискотека</li>
                <li>кафе</li>
                <li>гриль-бар</li>
                <li>юрты</li>
                <li>бильярдная</li>
                <li>магазины</li>
                <li>киоски</li>
                <li>библиотека</li>
                <li>лодочная станция со всеми водными развлечениями</li>
            </ul>
        </div>
        <h6 class="text-body">Дополнительные услуги</h6>
        <div class="text-muted">
            <ul>
                <li>платная автостоянка</li>
                <li>медпункт</li>
                <li>гладильная комната (бесплатно)</li>
            </ul>
        </div>
    </div>
</div>
