@model ApplicationSM


@{
    ViewData["Title"] = "Регистрация заявок";
}


<div class="text-left">

    <h1>Регистрация заявок</h1>
    
    <form asp-action="Registration" asp-controller="Registration" asp-anti-forgery="true">
        <div class="form-group">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="FullName" class="control-label">Ф.И.О сотрудника</label>
                    <input asp-for="FullName" placeholder="Ф.И.О." />
                    <span asp-validation-for="FullName" />
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentId" class="control-label">Отдел</label>
                    <select asp-for="DepartmentId" asp-items="Model.Departments">
                        <option>Выберите отдел</option>
                    </select>

                </div>
                <div class="form-group">
                    <label asp-for="PositionId" class="control-label">Должность</label>
                    <select asp-for="PositionId" asp-items="Model.Positions">
                        <option>Выберите должность</option>
                    </select>
                </div>


                <div class="form-group">
                    <label asp-for="CampId" class="control-label">Поток</label>
                    <select asp-for="CampId" asp-items="Model.Camps">
                        <option>Выберите поток</option>

                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="CampersNumber" class="control-label">Количество взрослых</label>
                    <input asp-for="CampersNumber" placeholder="CampersNumber" />
                    <span asp-validation-for="CampersNumber" />
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">Категория номера</label>
                    <select asp-for="CategoryId" asp-items="Model.Categories">
                        <option>Выберите категория номера</option>
                    </select>
                </div>

                <div class="form-group">
                    <button>Создать</button>
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["SuccessMessage"]
                        </div>
                    }

                </div>
                <div class="validation" asp-validation-summary="All"></div>
            </div>
        </div>
    </form>
</div>
