@model Company.Data.Camp

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление потока</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Поток
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Начало потока
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            Конец потока
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specification)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалит" class="btn btn-danger" /> |
        <a class="btn btn-dark"asp-action="Index">Назад</a>
    </form>
</div>
