@model Company.Models.CampCategoryVM

@{
    ViewData["Title"] = "Добавление цен";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавление цен</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CampId" class="control-label">Поток</label>
                <select asp-for="CampId" asp-items="Model.Camps">
                    <option>Выберите поток</option>

                </select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Категория номера</label>
                <select asp-for="CategoryId" asp-items="Model.Categories">
                    <option>Выберите поток</option>

                </select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
                <a class="btn btn-dark"  asp-action="Index">Назад</a>
            </div>
        </form>
    </div>
</div>

