@model Company.Models.ViewCampCategory

@{
    ViewData["Title"] = "Удаление цен";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удаление цен</h1>
<div>
    <h4>Вы действительно хотите удалить?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Поток
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camp)
        </dd class>
        <dt class = "col-sm-2">
            Категория номера
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd class>
        <dt class = "col-sm-2">
            Цена
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Да" class="btn btn-danger" /> |
        <a class="btn btn-light"  asp-action="Index">Нет</a>
    </form>
</div>
