@model Company.Data.Room

@{
    ViewData["Title"] = "Удаление номера";
}

<h1>Удаление номера</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Номер комнаты/котеджа
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class="col-sm-2">
            Категория комнаты/котеджа
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd class>
        <dt class="col-sm-2">
            Вместимость номера
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            Описание номера
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specification)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class = "btn btn-dark" asp-action="Index">Назад</a>
    </form>
</div>
