@model Company.Models.CategoryVM

@{
    ViewData["Title"] = "Create";
}

<h1>Создание</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specification" class="control-label"></label>
                <input asp-for="Specification" class="form-control" />
                <span asp-validation-for="Specification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camp1" class="control-label"></label>
                <input asp-for="Camp1" class="form-control" />
                <span asp-validation-for="Camp1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camp2" class="control-label"></label>
                <input asp-for="Camp2" class="form-control" />
                <span asp-validation-for="Camp2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camp3" class="control-label"></label>
                <input asp-for="Camp3" class="form-control" />
                <span asp-validation-for="Camp3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camp4" class="control-label"></label>
                <input asp-for="Camp4" class="form-control" />
                <span asp-validation-for="Camp4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camp5" class="control-label"></label>
                <input asp-for="Camp5" class="form-control" />
                <span asp-validation-for="Camp5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camp6" class="control-label"></label>
                <input asp-for="Camp6" class="form-control" />
                <span asp-validation-for="Camp6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camp7" class="control-label"></label>
                <input asp-for="Camp7" class="form-control" />
                <span asp-validation-for="Camp7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camp8" class="control-label"></label>
                <input asp-for="Camp8" class="form-control" />
                <span asp-validation-for="Camp8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camp9" class="control-label"></label>
                <input asp-for="Camp9" class="form-control" />
                <span asp-validation-for="Camp9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

