@model Company.Data.Category

@{
    ViewData["Title"] = "Удаление категории номера";
}

<h1>Удаление категории номера</h1>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Категория номеров
        </dt>
        <dd class = "col-sm-10">
            Описание категории номера
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specification)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a class="btn btn-dark" asp-action="Index">Назад</a>
    </form>
</div>
